{
  // "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    // "prettier/react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es2020": true
  },
  "plugins": ["react", "jsx-a11y", "import", "simple-import-sort"],
  "globals": {
    "window": true,
    "document": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".svg"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-one-expression-per-line": "off",
    "import/prefer-default-export": 0,
    "no-shadow": 0,
    "no-console": 0,
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
